<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1087829968476-0oiu3mkhntap41qmk9ek972c2osqv7a3</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app will need acces to your camera in order to post photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app will need access to your photo library in order to post photos in the app</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app will need the device location in order to determine the distance from a spot to the device, and to plot the user&apos;s location on a map</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This device will need your location when in use</string>
</dict>
</plist>
